---
import RenderProyectos from "./RenderProyectos.astro";
---

<section class="w-screen min-h-[100vh] py-16 px-5">
  <span class="max-w-[80%] flex justify-center items-center">
    <h2 class="text-[30px] w-full font-medium">Proyectos</h2>
  </span>
  <div class="w-full flex flex-wrap gap-5 py-2">
    <RenderProyectos
      titulo="Páginas web"
      publicaciones={[
        {
          github: "https://github.com/AmaRoTe4/BusquedaDinamica",
          titulo: "Búsqueda dinámica.",
          img: "/src/img/busquedaDinamica.jpg",
          web: "https://busqueda-dinamica.vercel.app/",
        },
        {
          github: "https://github.com/AmaRoTe4/ReplicandoGmail",
          titulo: "Replica de Gmail.",
          img: "/src/img/CopyGmail.jpg",
        },
        {
          github: "https://github.com/AmaRoTe4/codigo-web",
          titulo: "Código de la web seven.",
          img: "/src/img/codigoDeLaWebSeven.jpg",
          web: "https://codigo-web-seven.vercel.app/",
        },
        {
          github: "https://github.com/AmaRoTe4/IFratelli",
          titulo: "I Fratelli, delicias artesanales.",
          img: "/src/img/ifratelli.jpg",
          web: "https://ifratellideliciasartesanales.com.ar/",
        },
      ]}
    />
    <RenderProyectos
      titulo="PHP"
      publicaciones={[
        {
          github: "https://github.com/AmaRoTe4/PHPNotas",
          titulo: "PHP Notas",
          img: "/src/img/phpNotas.jpg",
        },
      ]}
    />
    <RenderProyectos
      titulo="C#"
      publicaciones={[
        {
          github: "https://github.com/AmaRoTe4/ProyectoC-Bar",
          titulo: "App de escritorio para bar.",
          img: "/src/img/CBar.jpg",
        },
      ]}
    />
    <RenderProyectos
      titulo="Aplicaciones Web"
      publicaciones={[
        {
          github: "https://github.com/AmaRoTe4/ProgramaComercial",
          titulo: "Programa para pequeño local comercial.",
          img: "/src/img/localComercial.png",
          //web: "https://programa-comercial-prod.vercel.app/",
          //codigoPrueba: ""
        },
        {
          github: "https://github.com/AmaRoTe4/GestionDeVentasBasicoRenovado",
          titulo: "Gestor de venta para eventos.",
          img: "/src/img/ventaBasico.jpg",
          web: "https://gestion-de-ventas-basico-renovado.vercel.app/",
        },
        {
          github: "https://github.com/AmaRoTe4/VentaUTN",
          titulo: "Gestor de pedidos de artículos, UTN Reconquista",
          img: "/src/img/ventaUTN.jpg",
        },
      ]}
    />
  </div>
</section>
<script is:inline>
const anchorPublicaciones = document.querySelectorAll(".anchorPublicacion");

const removerAllStyles = (brother) => {
  anchorPublicaciones.forEach((n) => {
    let newBrother = n.previousElementSibling ?? undefined;
    if (brother?.id === newBrother.id) return;

    if (
      !(
        newBrother.classList.contains("moviminetoHover") &&
        newBrother.classList.contains("flex")
      )
    )return;
    
    newBrother.classList.remove("moviminetoHover");
    newBrother.classList.add("reverseMoviminetoHover");
    setTimeout(() => {
      newBrother.classList.remove("flex");
      newBrother.classList.add("hidden");
      newBrother.classList.remove("reverseMoviminetoHover");
    }, 500);
  });
};

anchorPublicaciones.forEach((element) => {
  let timer = undefined;
  let brother = element.previousElementSibling;

  const enter = () => {
    brother.classList.remove("hidden");
    brother.classList.add("flex");
    brother.classList.add("moviminetoHover");
  };

  const leave = () => {
    brother.addEventListener("mouseleave", (e) => {
      brother.classList.remove("moviminetoHover");
      brother.classList.add("reverseMoviminetoHover");
      setTimeout(() => {
        brother.classList.remove("flex");
        brother.classList.add("hidden");
        brother.classList.remove("reverseMoviminetoHover");
      }, 500);
    });
  };

  element.addEventListener("mouseenter", (e) => {
    removerAllStyles(brother);
    timer = setTimeout(() => {
      enter();
    }, 200);
  });
  element.addEventListener("mouseleave", (e) => {
    clearTimeout(timer);
      leave();
    });
  });
</script>
