---
---

<ul class="flex flex-col gap-2">
  <div class="flex gap-2">
    <li>
      <a
        target="_blank"
        href="https://www.facebook.com/amaro.cattarozzi">
        <img
          src="../../public/svg/facebook.svg"
          alt="facebook"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.instagram.com/amaro_cattarozzi/">
        <img
          src="../../public/svg/instagram.svg"
          alt="instagram"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://twitter.com/amarocattarozzi">
        <img
          src="../../public/svg/twitter.svg"
          alt="twitter"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/amaro-cattarozzi/">
        <img
          src="../../public/svg/linkedin.svg"
          alt="linkedin"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/AmaRoTe4">
        <img
          src="../../public/svg/github.svg"
          alt="github"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://wa.me/qr/J2VPS5DLY726D1">
        <img
          src="../../public/svg/whatsapp.svg"
          alt="whatsapp"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
  </div>
  <div class="flex justify-end">
    <h5 class="text-">Teléfono: 54 3482-650397</h5>
  </div>
</ul>
