---import BtnCopy from "./btnCopy.astro";

---
<ul class="flex flex-col gap-2">
  <div class="flex gap-2">
    <li>
      <a
        target="_blank"
        href="https://www.facebook.com/amaro.cattarozzi">
        <img
          src="./src/svg/facebook.svg"
          alt="Facebook"
          title="Facebook"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.instagram.com/amaro_cattarozzi/">
        <img
          src="./src/svg/instagram.svg"
          alt="Instagram"
          title="Instagram"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://twitter.com/amarocattarozzi">
        <img
          src="./src/svg/twitter.svg"
          alt="Twitter"
          title="Twitter"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/amaro-cattarozzi/">
        <img
          src="./src/svg/linkedin.svg"
          alt="Linkedin"
          title="Linkedin"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://github.com/AmaRoTe4">
        <img
          src="./src/svg/github.svg"
          alt="GitHub"
          title="GitHub"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://wa.me/qr/J2VPS5DLY726D1">
        <img
          src="./src/svg/whatsapp.svg"
          alt="WhatsApp"
          title="WhatsApp"
          class="h-[30px] hover:scale-125"
        />
      </a>
    </li>
  </div>
  <div class="flex justify-end">
    <h5 class="font-medium w-full break-all">
      Teléfono:
      <br />
      54 3482 650397
    </h5>
    <BtnCopy />
  </div>
</ul>
