---
interface props {
  titulo: string;
  publicacion: object[];
}

const { titulo, publicaciones } = Astro.props;
---

<article class="p-1 min-w-full md:min-w-[25%] flex flex-col gap-1">
  <h3 class="text-[22px] w-full px-1">{titulo}</h3>
  <ul class="p-1 flex flex-wrap gap-5">
    {
      publicaciones.map(({ github, titulo, img }) => (
        <a
          class="hover:opacity-80 min-h-[220px] p-3 bg-black rounded-md"
          href={github}
          target="_blank">
          <li class="flex flex-col justify-center items-center gap-1">
            <div class="py-1 px-2">
              <h4 class="text-[16px] font-semibold text-white text-center w-full max-w-[300px] truncate">
                {titulo}
              </h4>
            </div>
            <div class="p-1 flex justify-center items-center">
              <img
                src={img}
                class="rounded-md w-[300px]"
                alt="bar"
              />
            </div>
          </li>
        </a>
      ))
    }
  </ul>
</article>
